<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AgendAI - Termos de Uso</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <header class="container-header">
    <a href="../../index.html"><img src="../assets/images/logo-reservai.svg" alt=""></a>
  </header>
  <section class="section-container">
    <div class="section-content">
      <h1 class="section-content-title">Termos de Uso do Reserv<span>AI</span></h1>
      <h2 class="section-content-subtitle">Condições para uso do ReservAI</h2>
    </div>
  </section>
  <section class="terms-section-container">
    <p class="section-content-text">Ao usar o site e os serviços do ReservAI, você concorda em cumprir e se vincular aos termos descritos neste documento. Leia atentamente. Se você não concordar com estes termos, não utilize o site ou os serviços. Este acordo aplica-se a todos os serviços do ReservAI, incluindo, mas não se limitando ao site "ReservAI" e ao chatbot de automação de agendamentos.</p>
    <p class="section-content-text">Seu uso dos produtos, software, serviços e site do ReservAI (coletivamente, "Serviços") está sujeito aos termos deste contrato legal entre você e a ReservAI. O termo "ReservAI", "nós" ou "nosso" refere-se à ReservAI, proprietária do site e fornecedora dos serviços. O termo "você" refere-se ao usuário, visualizador do site ou usuário dos serviços.</p>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>1.</span> Aceitação do Contrato</h3>
      <p class="terms-content-text">Este Contrato de Termos de Uso ("Contrato") constitui o acordo integral entre você e a ReservAI em relação ao site (o "Site") e aos Serviços. Ele substitui todos os acordos, representações ou entendimentos anteriores. Podemos alterar este Contrato a qualquer momento, sem aviso prévio, publicando a versão atualizada no Site. O uso contínuo dos Serviços após alterações implica aceitação dos novos termos.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>2.</span> Elegibilidade</h3>
      <p class="terms-content-text">Para usar os Serviços, você deve:</p>
      <ul class="terms-list">
        <li class="terms-list-item">Ter pelo menos 18 anos ou ser uma empresa legalmente constituída.</li>
        <li class="terms-list-item">Fornecer informações verdadeiras e completas ao se cadastrar.</li>
        <li class="terms-list-item">Cumprir todas as leis aplicáveis.</li>
      </ul>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>3.</span> Cadastro e Conta</h3>
      <ul class="terms-list">
        <li class="terms-list-item"><strong>Cadastro: </strong>Para acessar os Serviços, incluindo o teste grátis de 7 dias ou planos pagos (Básico, Premium, Empresarial), você deve criar uma conta fornecendo nome, e-mail e outras informações solicitadas.</li>
        <li class="terms-list-item"><strong>Responsabilidade: </strong>Você é responsável por manter a confidencialidade da sua senha e por todas as atividades na sua conta. Notifique-nos imediatamente em caso de uso não autorizado.</li>
        <li class="terms-list-item"><strong>Proibição: </strong>Não compartilhe sua conta ou use os Serviços para fins ilegais.</li>
      </ul>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>4.</span> Licença Limitada e Usos Permitidos</h3>
      <p class="terms-content-text">Concedemos a você uma licença não exclusiva, intransferível e revogável para acessar e usar o Site e os Serviços estritamente de acordo com este Contrato. Você pode:</p>
      <ul class="terms-list">
        <li class="terms-list-item">Usar o chatbot para agendamentos, integrações (ex.: WhatsApp, Telegram) e análises, conforme o plano contratado.</li>
        <li class="terms-list-item">Acessar materiais informativos no Site para fins pessoais ou comerciais internos.</li>
      </ul>
      <p class="terms-list-text">Nenhuma parte do Site ou Serviços pode ser usada em litígios ou arbitragens sem nossa permissão expressa.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>5.</span> Restrições e Proibições de Uso</h3>
      <p class="terms-content-text">Você não pode:</p>
      <ul class="terms-list">
        <li class="terms-list-item">Copiar, distribuir, vender, alugar ou criar trabalhos derivados do Site, Serviços ou qualquer conteúdo (ex.: textos, imagens, código) sem autorização.</li>
        <li class="terms-list-item">Usar os Serviços para desenvolver sistemas concorrentes ou bancos de dados comerciais.</li>
        <li class="terms-list-item">Remover avisos de direitos autorais ou termos de uso do Site ou Serviços.</li>
        <li class="terms-list-item">Fazer engenharia reversa, descompilar ou monitorar a arquitetura dos Serviços.</li>
        <li class="terms-list-item">Usar processos automáticos ou manuais para coletar dados do Site ou Serviços.</li>
        <li class="terms-list-item">Enviar spam, e-mails não solicitados ou conteúdos ilegais via Serviços</li>
        <li class="terms-list-item">Violar leis locais, estaduais ou federais, incluindo regulamentações de comunicações.</li>
      </ul>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>6.</span> Propriedade Intelectual</h3>
      <p class="terms-content-text">O conteúdo, design, gráficos e software do Site e Serviços são protegidos por direitos autorais, marcas registradas e outros direitos de propriedade intelectual pertencentes à ReservAI ou seus licenciadores. "ReservAI" é uma marca de serviço registrada. Você não adquire direitos sobre o conteúdo visualizado, exceto conforme permitido por esta licença limitada.
      </p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>7.</span> Planos e Pagamentos</h3>
      <ul class="terms-list">
        <li class="terms-list-item"><strong>Assinaturas: </strong> Os planos (Básico, Premium, Empresarial) têm preços e limites descritos na página de Planos. A renovação é automática, salvo cancelamento.</li>
        <li class="terms-list-item"><strong>Teste Grátis: </strong> Oferecemos 7 dias de teste grátis. Após o período, a assinatura será cobrada, salvo cancelamento.</li>
        <li class="terms-list-item"><strong>Pagamentos: </strong> Você garante que as informações de pagamento fornecidas são verdadeiras e que as cobranças serão honradas. Você é responsável por impostos aplicáveis, exceto impostos sobre renda da ReservAI.</li>
        <li class="terms-list-item"><strong>Reembolsos: </strong> Conforme o Código de Defesa do Consumidor, você tem direito a reembolso total em até 7 dias após a compra de serviços digitais. Após esse período, não há reembolsos por períodos não utilizados, salvo exigência legal.</li>
        <li class="terms-list-item"><strong>Alterações: </strong> Reservamo-nos o direito de ajustar preços na renovação da assinatura.</li>
      </ul>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>8.</span> Cancelamento</h3>
      <ul class="terms-list">
        <li class="terms-list-item">
          <strong>Por Você: </strong>Você pode cancelar sua conta a qualquer momento por escrito, via e-mail (suporte@reservai.com). O cancelamento impede a renovação, mas não há reembolso por períodos não utilizados, exceto conforme exigido por lei.
        </li>
        <li class="terms-list-item">
          <strong>Por Nós: </strong> Podemos suspender ou encerrar sua conta por violação deste Contrato ou uso indevido dos Serviços, resultando na perda de acesso e conteúdo da conta.
        </li>
      </ul>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>9.</span> Serviços de Terceiros</h3>
      <p class="terms-content-text">Os Serviços integram plataformas de terceiros (ex.: Twilio para chatbots, processadores de pagamento). Esses provedores são responsáveis por seus próprios serviços, e nós não controlamos ou garantimos seu desempenho. Você assume os riscos ao usar tais serviços, e suas políticas (ex.: privacidade) se aplicam.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>10.</span> Limitação de Responsabilidade</h3>
      <p class="terms-content-text">Os Serviços são fornecidos "no estado em que se encontram", sem garantias expressas ou implícitas de comercialização ou adequação a uma finalidade específica. Não nos responsabilizamos por:</p>
      <ul class="terms-list">
        <li class="terms-list-item">Erros, interrupções ou indisponibilidade dos Serviços.</li>
        <li class="terms-list-item">Danos indiretos, especiais ou consequenciais (ex.: perda de lucros, litígios).</li>
        <li class="terms-list-item">Perdas causadas por terceiros (ex.: Twilio, WhatsApp).</li>
        <li class="terms-list-item">Vírus ou falhas técnicas nos Serviços.</li>
      </ul>
      <p class="terms-content-text">Nossa responsabilidade está limitada ao valor pago por você nos últimos 12 meses. Algumas leis brasileiras podem limitar essas isenções.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>11.</span> Indenização</h3>
      <p class="terms-content-text">Você concorda em indenizar e isentar a ReservAI, seus funcionários, parceiros e afiliados de qualquer responsabilidade, perda ou despesa (incluindo honorários advocatícios) decorrente de sua violação deste Contrato ou uso indevido dos Serviços.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>12.</span> Links para Outros Sites</h3>
      <p class="terms-content-text">O Site pode conter links para sites de terceiros (ex.: WhatsApp, Instagram). Não somos responsáveis pelo conteúdo, precisão ou práticas desses sites. Você acessa esses links por sua conta e risco.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>13.</span> Conformidade Legal</h3>
      <p class="terms-content-text">Você deve cumprir todas as leis aplicáveis ao usar os Serviços, incluindo regulamentações de comunicações e proteção de dados.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>14.</span> Lei Aplicável</h3>
      <p class="terms-content-text">Este Contrato é regido pelas leis do Brasil. Qualquer disputa será resolvida nos tribunais de São Paulo/SP, salvo disposição legal em contrário.</p>
    </div>
    <div class="terms-content">
      <h3 class="terms-content-title"><span>15.</span> Contato</h3>
      <p class="terms-content-text">Para dúvidas ou notificações:</p>
      <ul class="terms-list">
        <li class="terms-list-text">E-mail: suporte@reservai.com</li>
        <li class="terms-list-text">WhatsApp: (12) 99999-9999</li>
      </ul>
      <p class="terms-content-text">Última atualização: 13 de maio de 2025</p>
    </div>
  </section>
  <footer>
    <div class="footer-container">
      <div class="footer-content">
        <a href="../../index.html"><img src="../assets/images/logo-reservai.svg" alt=""></a>
        <div class="social-media">
          <a href="https://wa.me/5512999999999"><img src="../assets/images/whatsapp.svg" alt=""></a>
          <a href="https://www.instagram.com/"><img src="../assets/images/Instagram.svg" alt=""></a>
        </div>
      </div>
      <div class="footer-infos">
        <span>© 2025 ResvarvAI. Todos os direitos reservados.</span>
        <a href="#">Termos de uso</a>
        <a href="../components/privacidade.html">Privacidade</a>
      </div>
    </div>
  </footer>
</body>

</html>