.section-container,
.section-container-left,
.section-container-cards {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-container-cards {
  flex-direction: column;
  padding: 50px 0;
}
.section-container:nth-child(odd),
.section-container-cards {
  background-color: var(--section-color);
}
.section-content {
  width: 700px;
}
.section-content-left {
  justify-content: center;
  align-items: center;
  width: 570px;
  margin-left: 100px;
}
.section-content-title,
.section-content-title-left {
  font-family: "Poppins-bold";
  font-size: 3rem;
  margin-bottom: 4px;
}
.section-content-subtitle,
.section-content-subtitle-left {
  font-family: "Inter-regular";
  font-size: 1rem;
  margin-bottom: 30px;
  margin-left: 6px;
}
.section-content-button {
  font-family: "Poppins-regular";
  font-size: 1.125rem;
  text-decoration: none;
  color: var(--button-text);
  background-color: var(--button-color);
  padding: 10px 18px;
  border-radius: 8px;
}
.section-content-button:hover {
  background-color: var(--primary-color);
}
.section-image,
.section-image-left {
  margin: 50px 0;
}
.section-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  margin: 50px 140px 0 140px;
  gap: 40px;
}
.section-card {
  padding: 0 29px;
  background-color: var(--card-color);
  border-radius: 8px;
  box-shadow: var(--card-box-shadow);
  width: 290px;
}
.card-title {
  font-family: "Poppins-bold";
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 30px;
}
.card-subtitle {
  font-family: "Inter-regular";
  font-size: 0.875rem;
  text-align: center;
  color: var(--details-color);
  margin-bottom: 30px;
}
.card-highlight {
  text-align: center;
}
.card-highlight-number {
  font-family: "Poppins-bold";
  font-size: 3.75rem;
  background: var(--highlight-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card-highlight-info {
  font-family: "Poppins-medium";
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.card-text-1,
.card-text-2,
.card-text-3,
.card-text-4 {
  font-family: "Inter-regular";
  font-size: 1rem;
  text-align: center;
}
.card-text-1,
.card-text-2 {
  width: 225px;
  margin-bottom: 30px;
}
.card-text-3 {
  width: 210px;
  margin-bottom: 50px;
}
.card-text-4 {
  width: 225px;
  margin-bottom: 50px;
}
