.planos-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 50px;
}
.planos-content h1 {
  margin-bottom: 10px;
}
.planos-content h2 {
  margin-bottom: 50px;
}
.toggle-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 200px;
  height: 50px;
  margin-bottom: 50px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.toggle-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  font-family: "Poppins-bold";
  font-size: 1rem;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--toggle-color);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  border: none;
}
.toggle-btn.selected {
  color: var(--button-text);
  background-color: var(--button-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.toggle-btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--toggle-color-light);
}
.planos-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.plano-card {
  width: 360px;
  height: 500px;
  margin-bottom: 50px;
  background-color: var(--card-color);
  box-shadow: var(--card-box-shadow);
  border-radius: 12px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
}
.plano-card:hover,
.plano-card:focus {
  transform: translateY(-4px);
  outline: none;
}
.plano-card-content {
  text-align: center;
}
.plano-card-title {
  font-family: "Poppins-bold";
  font-size: 2.25rem;
  margin: 30px 0;
}

.plano-button {
  font-family: "Poppins-medium";
  font-size: 1rem;
  padding: 14px 28px;
  margin-bottom: 30px;
  background-color: transparent;
  border: 1px solid var(--button-color);
  color: var(--text-color);
  border-radius: 12px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}
.plano-button:hover {
  background-color: var(--primary-color);
  color: var(--button-text);
  border: 1px solid var(--primary-color);
  transition: color 0.1s ease;
}
.plano-card-list-title {
  font-family: "Poppins-bold";
  font-size: 1.25rem;
  margin-bottom: 30px;
}
.plano-card-list li {
  font-family: "Inter-regular";
  font-size: 0.973rem;
  margin-bottom: 10px;
}
.plano-card.premium {
  position: relative;
  border: 5px solid var(--details-color);
}
.plano-card.premium::after {
  position: absolute;
  content: "Popular";
  width: 100px;
  height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins-bold";
  font-size: 0.875rem;
  text-transform: uppercase;
  background-color: var(--details-color);
  color: var(--button-text);
  border-radius: 12px;
  border: 2px solid var(--details-color);
  top: -15px;
  right: 120px;
}
.plano-card.premium .plano-card-title.premium {
  margin: 25px;
}
.plano-card.premium button {
  background-color: var(--button-color);
  color: var(--button-text);
  border: none;
}
.plano-card.premium button:hover {
  background-color: var(--primary-color);
  color: var(--text-color);
}
.card-highlight {
  text-align: center;
}
.card-highlight-number {
  font-family: "Poppins-bold";
  font-size: 3.75rem;
  background: var(--highlight-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.card-highlight-info {
  font-family: "Poppins-medium";
  font-size: 1.25rem;
  margin-bottom: 30px;
}