.section-content.terms {
  margin-top: 50px;
  text-align: center;
}
.terms-section-container {
  margin: 0px 140px 50px 140px;
}
.section-content-text {
  font-family: "Inter-regular";
  font-size: 1rem;
  margin-bottom: 10px;
}
.terms-content {
  margin-top: 30px;
}
.terms-content-title {
  font-family: "Poppins-medium";
  font-size: 1.25rem;
  margin-bottom: 10px;
}
.terms-content-text {
  font-family: "Inter-regular";
  font-size: 1rem;
}
.terms-list {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Inter-regular";
  font-size: 1rem;
}
.terms-list li {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20px;
}
.terms-list li:before {
  position: absolute;
  content: " ";
  width: 6px;
  height: 6px;
  left: -15px;
  top: 8px;
  border-radius: 50%;
  background-color: var(--primary-color);
}
.terms-list strong {
  font-family: "Poppins-medium";
}
.footer-infos a[aria-current="page"] {
  color: var(--primary-color);
  font-family: "Poppins-medium";
  pointer-events: none;
  cursor: default;
}
@media (max-width: 480px) {
  .terms-section-container {
    margin: 0px 20px 30px 20px; /* Margens menores para celulares */
  }

  .section-content.terms {
    margin-top: 30px; /* Reduz o margin-top */
  }

  .section-content-text,
  .terms-content-text,
  .terms-list {
    font-size: 0.9rem; /* Tamanho de fonte menor para telas muito pequenas */
  }

  .terms-content-title {
    font-size: 1rem; /* Tamanho de fonte do título menor */
  }

  .terms-list li {
    margin-left: 15px; /* Ajusta o recuo da lista */
  }

  .terms-list li:before {
    left: -10px; /* Ajusta a posição do marcador da lista */
    top: 7px;
  }
}
